<div class="jumbotron">
  <h1>What is gotoBid?</h1>

  <p>gotoBid is an online tool to help you <b>quickly</b> and <b>painlessly</b> obtain bids for routine laundry services</p>

  <p>Rather than individually researching and calling local industrial laundry services companies <i>(you have better things to do)</i>, simply:</p>

  <ul>
    <li>Sign up for gotoBid</li>
    <li>Select your products and ideal pricing</li>
    <li>Submit your request</li>
    <li>Evaluate and choose a provider</li>
  </ul>

  <p>Not only does gotoBid simplify your life, when local laundries bid for your business, you know you get the best deal!</p>
</div>



<% if @user.present? and @user.vendor == false %>
<div class="btn-group btn-group-justified btn-lg" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="/proposals/new">
      <button type="button" class="btn btn-primary btn-lg">Request a Bid</button>
    </a>
  </div>

<% elsif @user.present? and @user.vendor == true %>
<div class="btn-group btn-group-justified btn-lg" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="/proposals/">
      <button type="button" class="btn btn-primary btn-lg">Review local RFP requests</button>
    </a>
  </div>

<% else %>
<div class="btn-group btn-group-justified btn-lg" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="/users/sign_in">
      <button type="button" class="btn btn-primary btn-lg">Please sign in</button>
    </a>
  </div>

<% end %>
